/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Kanit:wght@700&family=Roboto:wght@400;700&display=swap');

/*========== font | colors | typography ==========*/

:root {
}

/* base */

body {
  color: #fff;
  font-style: normal;
  line-height: normal;
  background-color: #494949;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

/* btns */

/* wrapper */

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

* {
  /* border: 1px solid red; */
}

/* header */

.header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  padding: 22.5px 0px;
  background: rgba(41, 44, 48, 0.27);
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  /* position: relative;
z-index: 2; */
}

.header__logo span {
  color: #fff;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.header__menu {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
  /* z-index: 2; */
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* .header__btn {

  border-radius: 20px;
  cursor: pointer;
}

.header__btn span {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;

  background: -webkit-linear-gradient(
    #f6e188,
    #a56a28,
    #e2ac54,
    #f2da82,
    #bb772c,
    #eda948
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.radius {
  border-radius: 20px;
  overflow: hidden;
}

.gradient-border-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 60px;
  padding: 10px;
  border: 10px solid;
  border-image: linear-gradient(45deg, #F6E188, #A56A28, #E2AC54, #F2DA82, #BB772C, #EDA948) 1;
}

/* MAIN */

.main {
}

.main__background {
  position: relative;
  height: 1014px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.main__background::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.main__title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__subtitle {
  margin-top: 35px;
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.main__btn {
  display: flex;
  width: 365px;
  height: 60px;
  margin-top: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    21deg,
    #f6e188 -22.06%,
    #a56a28 15.96%,
    #e2ac54 40.29%,
    #f2da82 69.17%,
    #bb772c 96.54%,
    #eda948 130%
  );
  cursor: pointer;
}

.main__btn span {
  color: #000;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}
