/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Kanit:wght@700&family=Roboto:wght@400;700&display=swap');

/*========== font | colors | typography ==========*/

/* base */

body {
  color: #fff;
  font-style: normal;
  line-height: normal;
  background-color: #494949;
}

html {
  scroll-behavior: smooth;
}

html.lock,
body.lock,
.locker {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.active {
  display: block;
}

/* animate */

@-webkit-keyframes blick {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes blick {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(1vw);
    opacity: 0;
  }
}

/* btns */

.btn {
  position: relative;
}

.btn:not(:disabled) .btn-blick {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.btn:not(:disabled) .btn-blick:after {
  margin-left: -30px;
  content: ' ';
  width: 10px;
  height: 300px;
  box-shadow: 0px 0px 20px 10px #fff;
  background: #fff;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  position: absolute;
  left: -40px;
  top: -150px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: blick;
  animation-name: blick;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* wrapper */

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1920px;
  margin: 0 auto;
}

/* all */

.title__wrapper {
  display: flex;
  gap: 80px;
}

.title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.title::after {
  content: '';
  display: block;
  height: 3px;
  width: 90px;
  margin-top: 20px;
  background: linear-gradient(
    270deg,
    #b0772a 0%,
    #deb864 16%,
    #f4d780 25%,
    #f4d780 46%,
    #fbf9d8 65%,
    #f4d780 75%,
    #b0772a 100%
  );
}

.description {
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    #b0772a 0%,
    #deb864 16%,
    #f4d780 25%,
    #f4d780 46%,
    #fbf9d8 65%,
    #f4d780 75%,
    #b0772a 100%
  );
}

/* header */

.header {
  position: relative;
  width: 100%;
  padding: 30px 0px;
  background: rgba(41, 44, 48, 0.27);
  z-index: 100;
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 115px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo span {
  color: #fff;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}

.menu__burger {
  display: none;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__link {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.header__btn {
  --border-width: 0.375rem;
  --border-radius: 1.25rem;
  --color-1: #eda948;
  --color-2: #eda948;
}

/* code */

.header__btn {
  width: 235px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
      to right,
      #f6e188,
      #a56a28,
      #e2ac54,
      #f2da82,
      #bb772c,
      #eda948
    ),
    linear-gradient(
      to right,
      #f6e188,
      #a56a28,
      #e2ac54,
      #f2da82,
      #bb772c,
      #eda948
    );
  background-position: var(--border-radius) 0, var(--border-radius) 100%;
  background-repeat: no-repeat;
  background-size: calc(100% - var(--border-radius) - var(--border-radius))
    var(--border-width);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.header__btn:before,
.header__btn:after {
  content: '';
  display: block;
  position: absolute;
  width: var(--border-radius);
  top: 0;
  bottom: 0;
}

.header__btn:before {
  left: 0;
  border: var(--border-width) solid var(--color-1);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-right-color: transparent;
}

.header__btn:after {
  right: 0;
  border: var(--border-width) solid var(--color-2);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left-color: transparent;
}

.header__btn span {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;

  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MAIN */

.main {
  margin-top: -105px;
}

.main__background {
  position: relative;
  height: 100vh;
  max-height: 1014px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.main__background::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.main__title {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__subtitle {
  margin-top: 35px;
  color: #fff;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.main__btn {
  display: flex;
  width: 365px;
  height: 60px;
  margin-top: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    21deg,
    #f6e188 -22.06%,
    #a56a28 15.96%,
    #e2ac54 40.29%,
    #f2da82 69.17%,
    #bb772c 96.54%,
    #eda948 130%
  );
  cursor: pointer;
}

.main__btn span {
  color: #000;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 900;
  text-transform: uppercase;
}

/* TEAM */

.team {
  padding-top: 100px;
  background: #090909;
}

.team .container .title__wrapper .title {
  width: min-content;
}

.team .container .title__wrapper .description {
  max-width: 730px;
}

.team__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  column-gap: 20px;
  row-gap: 30px;
}

.team__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team__card img {
  max-width: 480px;
  max-height: 480px;
  border-radius: 10px;
}

.team__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.team__card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;

  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team__card-subtitle {
  color: #c0c0c0;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* COMPANY */

.company {
  padding-top: 100px;
  background: #090909;
  background-image: url('../images/backgrounds/layout-1.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.company .title__wrapper {
  display: flex;
  gap: 155.5px;
}

.company .container .title__wrapper .title {
  width: max-content;
}

.company .container .title__wrapper .description {
  max-width: 718px;
  font-family: 'Heebo', sans-serif;
  font-size: 33px;
  font-weight: 500;

  background: linear-gradient(
    90deg,
    #c0c0c0 -0.07%,
    rgba(192, 192, 192, 0) 141.43%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company__inner {
  display: flex;
}

.company__inner img {
  margin-top: 18px;
  border-radius: 10px;
}

.company__wrapper p:nth-child(1) {
  max-width: 475px;
  margin-top: 50px;
  margin-left: 80px;
}

.company__wrapper p:nth-child(2) {
  max-width: 450px;
  margin-top: 15px;
  margin-left: 80px;
}

.company__wrapper p {
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  font-weight: 400;

  background: linear-gradient(
    90deg,
    #fff -0.1%,
    rgba(255, 255, 255, 0.63) 145.62%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat {
  display: flex;
  align-items: center;
  margin-top: 27px;
  margin-left: 80px;
}

.stat__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.stat__number {
  font-family: 'Roboto', sans-serif;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(
    302deg,
    #b0772a 14.12%,
    #deb864 25.07%,
    #f4d780 31.23%,
    #f4d780 45.61%,
    #fbf9d8 58.62%,
    #f4d780 65.46%,
    #b0772a 82.58%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stat__text {
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

.stat__line {
  width: 118px;
  height: 3px;
  transform: rotate(-60deg);

  background: linear-gradient(
    270deg,
    #b0772a 0%,
    #deb864 16%,
    #f4d780 25%,
    #f4d780 46%,
    #fbf9d8 65%,
    #f4d780 75%,
    #b0772a 100%
  );
}

.stat__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
}

/* WHY */

.why {
  padding-top: 100px;
  background: #090909;
}

.why .title__wrapper {
  display: flex;
  gap: 80px;
}

.why .container .title__wrapper .title {
  width: max-content;
}

.why .container .title__wrapper .description {
  max-width: 650px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;

  background: linear-gradient(
    178deg,
    #c0c0c0 1.56%,
    rgba(192, 192, 192, 0) 141.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why__cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  gap: 20px;
}

.why__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 420px;
  height: 314px;
  padding: 30px 25px;

  background: linear-gradient(#090909, #090909) padding-box,
    linear-gradient(
        to right,
        #b0772a,
        #deb864,
        #f4d780,
        #f4d780,
        #fbf9d8,
        #f4d780,
        #b0772a,
        #b0772a,
        #deb864,
        #f4d780,
        #f4d780,
        #fbf9d8,
        #f4d780,
        #b0772a
      )
      border-box;
  border-radius: 10px;
  border: 1px solid transparent;
}

.why__card-title {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
}

.why__card-subtitle {
  margin-top: 20px;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;

  background: linear-gradient(
    181deg,
    #fff 1.09%,
    rgba(255, 255, 255, 0) 169.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* RATE */

.rate {
  padding-top: 100px;
  background: #090909;
}

.rate .container .title__wrapper .title {
  width: min-content;
}

.rate .container .title__wrapper .description {
  max-width: 747px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;

  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 147.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate__cards {
  display: flex;
  margin-top: 80px;
  gap: 20px;
}

.rate__card {
  max-width: 420px;
  max-height: 716px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 0px;
  border-radius: 10px;
  background: #000 url('../images/backgrounds/layout-6.png');
}

.rate__card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rate__card-title--1 {
  max-width: 270px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;

  background: linear-gradient(
      0deg,
      rgba(255, 107, 0, 0.32) 0%,
      rgba(255, 107, 0, 0.32) 100%
    ),
    linear-gradient(
      143deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 57.02%
    ),
    linear-gradient(
      245deg,
      #576265 7.62%,
      #757a7b 16.28%,
      #576265 23.2%,
      #576265 45.75%,
      #848b8a 50.9%,
      #9ea1a1 78.2%,
      #576265 90.69%
    );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate__card-title--2 {
  max-width: 270px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;

  background: linear-gradient(
    245deg,
    #576265 7.62%,
    #757a7b 16.28%,
    #576265 23.2%,
    #576265 45.75%,
    #848b8a 50.9%,
    #9ea1a1 78.2%,
    #576265 90.69%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate__card-title--3 {
  max-width: 270px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;

  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate__card-list {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  gap: 25px;
}

.rate__card-list li {
  color: #d1d1d1;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.rate__card-btn--1 {
  display: flex;
  width: 310px;
  height: 60px;
  margin-top: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 20px;
  background: linear-gradient(
      0deg,
      rgba(255, 107, 0, 0.32) 0%,
      rgba(255, 107, 0, 0.32) 100%
    ),
    linear-gradient(
      143deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 57.02%
    ),
    linear-gradient(
      245deg,
      #576265 7.62%,
      #757a7b 16.28%,
      #576265 23.2%,
      #576265 45.75%,
      #848b8a 50.9%,
      #9ea1a1 78.2%,
      #576265 90.69%
    );
  cursor: pointer;
}

.rate__card-btn--1 span {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rate__card-btn--2 {
  display: flex;
  width: 310px;
  height: 60px;
  margin-top: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 20px;
  background: linear-gradient(
    39deg,
    #576265 -70.06%,
    #b3b3b3 -26.87%,
    #848a8b -3.74%,
    #777e80 -0.65%,
    #656e71 7.06%,
    #5a6568 14.77%,
    #576265 22.49%,
    #818586 44.08%,
    #999 57.96%,
    #909192 64.13%,
    #767c7d 73.39%,
    #576265 82.64%
  );
  cursor: pointer;
}

.rate__card-btn--2 span {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.rate__card-btn--3 {
  display: flex;
  width: 310px;
  height: 60px;
  margin-top: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 20px;
  background: linear-gradient(
    12deg,
    #f6e188 -22.89%,
    #a56a28 8.61%,
    #e2ac54 28.77%,
    #f2da82 52.71%,
    #bb772c 75.39%,
    #eda948 103.11%
  );
  cursor: pointer;
}

.rate__card-btn--3 span {
  color: #000;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* CALC */

.calc {
  padding-top: 100px;
  background: #090909;
  background-image: url(../images/backgrounds/layout-2.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: top left;
}

.calc .container .title__wrapper {
  display: flex;
  align-items: center;
}

.calc .container .title__wrapper .title {
  width: min-content;
}

.calc .container .title__wrapper .description {
  max-width: 684px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;

  background: linear-gradient(180deg, #c0c0c0 0%, rgba(192, 192, 192, 0) 275%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calc__range-wrapper {
  display: flex;
  gap: 59px;
  margin-top: 80px;
}

.calc__input-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc__input-inner input {
  display: flex;
  max-width: 147px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #fff;

  background: url('../images/icons/rub.svg') no-repeat;
  background-position: center right 16px;

  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.calc__input-wrapper {
  width: 100%;
}

.box-line {
  height: 8px;
  background: #dddce0;
  border-radius: 24px;
  outline: none;
  border: none;
  box-shadow: 0px 1px 4px 0px #9f9da1 inset;
  position: relative;
}

.box-line__progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
  width: 40%;
  border-radius: 24px;
  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
}

.box-line__progress:after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 37px;
  height: 28px;
  background: transparent;
  background-image: url('../images/icons/crown.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  z-index: 2;
}

.calc__input-wrapper > .calc__slider {
  width: 100%;
  margin-top: 18px;
}

.calc__range-title {
  color: #858585;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.48px;
}

.calc__type-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.calc__type-left {
  max-width: 658px;
}

.calc__type-left > p {
  color: #858585;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 36.4px;
}

.calc__type-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.calc__type-card {
  position: relative;
  display: flex;
}

.calc__type-card::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.calc__type-card p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.calc__type-card > img {
  max-width: 318px;
  height: 160px;
  border-radius: 10px;
}

.calc__type-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 56px;
}

.calc__type-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 43px;
  background: linear-gradient(#090909, #090909) padding-box,
    linear-gradient(
        to right,
        #b0772a,
        #deb864,
        #f4d780,
        #f4d780,
        #fbf9d8,
        #f4d780,
        #b0772a,
        #b0772a,
        #deb864,
        #f4d780,
        #f4d780,
        #fbf9d8,
        #f4d780,
        #b0772a
      )
      border-box;
  border-radius: 10px;
  border: 15px solid transparent;
}

.calc__type-badge p:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;

  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calc__type-badge p:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.calc__type-btn {
  display: flex;
  width: 530px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: none;
  border-radius: 20px;
  background: linear-gradient(
    21deg,
    #f6e188 -22.06%,
    #a56a28 15.96%,
    #e2ac54 40.29%,
    #f2da82 69.17%,
    #bb772c 96.54%,
    #eda948 130%
  );
  cursor: pointer;
}

.calc__type-btn span {
  color: #000;
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

/* SERVICES */

.services {
  padding-top: 100px;
  background: #090909;
  background-image: url(../images/backgrounds/layout-3.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.services .container .title__wrapper {
  display: flex;
  gap: 125.5px;
}

.services .container .title__wrapper .title {
  max-width: 314px;
}

.services .container .title__wrapper .description {
  max-width: 700px;
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.services__slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 80px;
  overflow: hidden;
}

.services__slider-wrapper {
  display: flex;
  gap: 20px;
}

.services__slider-slide img {
  max-width: 585px;
  height: 354px;
  border-radius: 10px;
}

.services__slider-title {
  margin-top: 30px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

.services__slider-list {
  max-width: 529px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-left: 20px;
}

.services__slider-list li {
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: url('../images/icons/circle.svg');
}

.services__slider-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  margin-left: 121px;
  margin-right: 131px;
}

.btn-background {
  display: flex;
  border-radius: 59px;
  background: linear-gradient(
    12deg,
    #f6e188 -22.89%,
    #a56a28 8.61%,
    #e2ac54 28.77%,
    #f2da82 52.71%,
    #bb772c 75.39%,
    #eda948 103.11%
  );
}

.slider__btn-prev {
  width: 59px;
  height: 59px;
  display: block;
  background: url('../images/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.slider__btn-next {
  width: 59px;
  height: 59px;
  display: block;
  background: url('../images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

/* FEEDBACK */

.feedback {
  padding-top: 100px;
  background: #090909;
  background-image: url(../images/backgrounds/layout-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.feedback__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 45px;
  padding: 50px 35px;
  border-radius: 10px;
  background: #161616;
}

.feedback__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feedback__title {
  color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 35px;
}

.feedback__subtitle {
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.feedback__input {
  height: 65px;
  display: inline-flex;
  flex-grow: 1;
  padding: 15px 0px 15px 15px;
  color: #858585;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.48px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: transparent;

  background: url('../images/icons/circle-arrow.svg') no-repeat;
  background-position: center right 3px;
}

/* PROJECTS */

.projects {
  padding-top: 100px;
  background: #090909;
}

.projects .container .title__wrapper {
  display: flex;
  gap: 16.5px;
}

.projects .container .title__wrapper .title {
  max-width: 314px;
}

.projects .container .title__wrapper .description {
  max-width: 720px;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(
    180deg,
    #c0c0c0 0%,
    rgba(192, 192, 192, 0) 270.11%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects__slider-wrapper {
  height: 653px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  overflow: hidden;
}

.projects__slider-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects__slider-slide:nth-child(1) {
  align-self: flex-end;
}

.projects__slider-slide:nth-child(2) {
  align-self: center;
}

.projects__slider-slide:nth-child(3) {
  align-self: flex-start;
}

.projects__slider-slide p {
  color: #c0c0c0;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.projects__slider-slide img {
  max-width: 360px;
  height: auto;
  border-radius: 9px;
}

.projects__slider-active p {
  color: #fff;
}

.projects__slider-active img {
  max-width: 462px;
  height: auto;
  border-radius: 12px;
  z-index: 2;
}

.projects__slider-active img:nth-child(3) {
  position: absolute;
  top: 15%;
  left: -57%;
  z-index: 1;
}

.projects__slider-active img:nth-child(4) {
  position: absolute;
  bottom: 15%;
  right: -57%;
  z-index: 1;
}

.projects__slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22.5px;
  gap: 15px;
}

.projects__slider-nav span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.projects__slider-nav progress {
  width: 100%;
  max-width: 400px;
  height: 8px;
  border-radius: 24px;
  background: #dddce0;
}

.projects__slider-nav progress::-webkit-progress-bar {
  border-radius: 24px;
  background: #dddce0;
}

.projects__slider-nav progress::-webkit-progress-value {
  border-radius: 24px;
  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
}

.projects__slider-nav progress::-moz-progress-bar {
  border-radius: 24px;
  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
}

/* CALLS */

.calls {
  padding-top: 100px;
  background: #090909;
}

.calls .container .title__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;
}

.calls .container .title__wrapper .title {
  max-width: 314px;
}

.calls .container .title__wrapper .description {
  max-width: 750px;
  color: #c0c0c0;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.calls__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 20px;
}

.calls__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px;
  gap: 30px;

  border-radius: 33px;
  border: 1px solid #fff;
  box-shadow: 20px 14px 41px 0px rgba(0, 0, 0, 0.08);
}

.calls__card-inner {
  position: relative;
}

.calls__card-inner img:nth-child(1) {
  max-width: 180px;
  height: 180px;
  background: #d9d9d9;
  border-radius: 50%;
}

.calls__card-inner img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 60%;
}

.calls__card-text {
  max-width: 353px;
  color: #868686;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.calls__card-rate {
  display: flex;
  gap: 14px;
}

.calls__card-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* footer */

.footer {
  padding-top: 200px;
  padding-bottom: 80px;
  background: #090909;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.footer__title span {
  background: linear-gradient(
    260deg,
    #b0772a 1.53%,
    #deb864 16.83%,
    #f4d780 25.43%,
    #f4d780 45.5%,
    #fbf9d8 63.66%,
    #f4d780 73.22%,
    #b0772a 97.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__socials img {
  width: 30px;
  height: 30px;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer__contacts-wrapper {
  display: flex;
  gap: 15px;
}

.footer__contacts-mail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__contacts-mail address {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.footer__contacts-map {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__contacts-map img {
  width: 42px;
  height: 42px;
}

.footer__contacts-map address {
  max-width: 415px;
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.footer__btn {
  width: 100%;
  max-width: 400px;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 3px 3px 3px 23px;
  background: transparent;
  border-radius: 50px;
  border: 5px solid #fff;
  background: url('../images/icons/circle-arrow.svg') no-repeat;
  background-position: center right;
  cursor: pointer;
}

.footer__btn span {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.48px;
}

/* MEDIA */

@media (max-width: 1359px) {
  /* ALL */
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0px 20px;
  }

  .title {
    font-size: 45px;
  }

  .title__wrapper {
    justify-content: space-between;
  }

  .team,
  .company,
  .why,
  .rate,
  .calc,
  .services,
  .feedback,
  .projects,
  .calls {
    padding-top: 80px;
  }

  .team__cards,
  .why__cards,
  .rate__cards,
  .calls__cards {
    justify-content: center;
    margin-top: 60px;
  }

  /* MAIN */
  .main__title {
    font-size: 60px;
  }

  .main__subtitle {
    font-size: 30px;
  }

  .company .title__wrapper {
    gap: 80px;
  }

  /* CALC */
  .calc__range-wrapper {
    margin-top: 60px;
  }

  /* SERVICES */
  .services .container .title__wrapper {
    gap: 80px;
  }

  .services .container .title__wrapper .title {
    max-width: 100%;
  }

  .services__slider {
    margin-top: 60px;
  }

  .services__slider-nav {
    margin-left: 25px;
    margin-right: 25px;
  }

  /* PROJECTS */
  .projects .container .title__wrapper {
    gap: 80px;
  }

  .projects .container .title__wrapper .title {
    max-width: 100%;
  }

  /* FOOTER */
  .footer {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1260px) {
  /* ALL */
  .title {
    font-size: 40px;
  }

  .header__menu,
  .footer__menu {
    gap: 30px;
  }

  .team,
  .company,
  .why,
  .rate,
  .calc,
  .services,
  .feedback,
  .projects,
  .calls {
    padding-top: 60px;
  }

  .team__cards,
  .why__cards,
  .rate__cards,
  .calls__cards {
    margin-top: 50px;
  }

  /* HEADER */
  .header__nav {
    gap: 50px;
  }

  /* COMPANY */
  .company .container .title__wrapper .description {
    font-size: 28px;
  }

  .company__wrapper p:nth-child(1) {
    margin-top: 18px;
    margin-left: 25px;
  }

  .company__wrapper p:nth-child(2) {
    margin-left: 25px;
  }

  .stat {
    margin-left: 25px;
  }

  .stat__number {
    font-size: 65px;
  }

  .stat__line {
    width: 80px;
  }

  /* RATE */
  .rate__card-title--1,
  .rate__card-title--2,
  .rate__card-title--3 {
    font-size: 40px;
  }

  .rate__card-list li {
    font-size: 15px;
  }

  /* CALC */
  .calc__type-right {
    justify-content: flex-start;
    gap: 20px;
  }

  /* FEEDBACK */
  .feedback__inner {
    width: 60%;
  }

  /* PROJECTS */
  .projects .container .title__wrapper {
    gap: 20px;
  }

  .projects__slider-wrapper {
    height: 500px;
  }

  .projects__slider-slide img {
    max-width: 280px;
  }

  .projects__slider-active img {
    max-width: 350px;
  }

  /* FOOTER */
  .footer {
    padding-top: 80px;
  }

  .footer__btn {
    max-width: 350px;
    padding: 3px 3px 3px 10px;
  }

  .footer__btn span {
    font-size: 14px;
  }
}

@media (max-width: 1075px) {
  /* ALL */
  .team,
  .company,
  .why,
  .rate,
  .calc,
  .services,
  .feedback,
  .projects,
  .calls {
    padding-top: 50px;
  }

  .team__cards,
  .why__cards,
  .rate__cards,
  .calls__cards {
    margin-top: 40px;
  }

  /* MAIN */
  .main__title {
    font-size: 50px;
  }

  .main__subtitle {
    font-size: 24px;
  }

  .main__btn {
    margin-top: 60px;
  }

  /* TEAM */
  .team__card-title {
    font-size: 35px;
  }

  /* COMPANY */
  .company .container .title__wrapper .description {
    max-width: 600px;
    font-size: 24px;
  }

  /* WHY */
  .why .container .title__wrapper .description {
    max-width: 600px;
  }

  /* RATE */
  .rate__card-list li {
    font-size: 14px;
  }

  /* PROJECTS */
  .projects__slider-wrapper {
    margin-top: 50px;
  }

  .projects__slider-nav {
    margin-top: 20px;
  }

  /* CALLS */
  .calls__card {
    padding: 25px;
  }

  /* FOOTER */
  .footer {
    padding-top: 50px;
  }

  .footer__title {
    font-size: 32px;
  }

  .footer__contacts-wrapper {
    flex-direction: column;
  }

  .footer__contacts {
    align-items: center;
  }
}

@media (max-width: 1020px) {
  /* ALL */
  .team,
  .company,
  .why,
  .rate,
  .calc,
  .services,
  .feedback,
  .projects,
  .calls {
    padding-top: 40px;
  }

  .team__cards,
  .why__cards,
  .rate__cards,
  .calls__cards {
    margin-top: 20px;
  }

  .team__cards {
    row-gap: 20px;
  }

  .title {
    font-size: 35px;
  }

  .title::after {
    margin: 20px auto auto auto;
  }

  .title__wrapper,
  .company .title__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* HEADER */
  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .header__btn {
    align-self: center;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .menu__burger:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 18px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger span {
    background-color: #fff;
    position: absolute;
    width: 20px;
    height: 2px;
    top: 9px;
    right: 0;
    transition: all 0.3s ease-out;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    width: 100%;
    transform: rotate(45deg);
    top: 9px;
  }

  .menu__burger.active:after {
    width: 100%;
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__burger.active > span {
    background-color: #fff;
  }

  .header__nav.active {
    transform: translateX(0);
  }

  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    transform: translateX(110%);
    transition: transform 0.5s;
    overflow: auto;
    z-index: 2;
    border-radius: 0px 0px 0px 3px;
    background: #090909;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 129px 20px 0px 0px;
  }

  /* MAIN */
  .main__title {
    font-size: 45px;
  }

  /* TEAM */
  .team .container .title__wrapper .title,
  .rate .container .title__wrapper .title,
  .calc .container .title__wrapper .title {
    width: 100%;
    text-align: center;
  }

  .team .container .title__wrapper .description {
    text-align: center;
  }

  /* COMPANY */

  .company .container .title__wrapper .description,
  .why .container .title__wrapper .description,
  .rate .container .title__wrapper .description,
  .calc .container .title__wrapper .description,
  .services .container .title__wrapper .description,
  .projects .container .title__wrapper .description,
  .calls .container .title__wrapper .description {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .company__inner {
    flex-direction: column;
    align-items: center;
  }

  .company__wrapper p:nth-child(1) {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .company__wrapper p:nth-child(2) {
    max-width: 100%;
    margin-left: 0px;
  }

  .company__wrapper {
    text-align: center;
  }

  .stat {
    justify-content: center;
    margin-top: 20px;
    margin-left: 0px;
  }

  /* WHY */
  .why .title__wrapper,
  .services .container .title__wrapper {
    gap: 20px;
  }

  /* RATE */
  .rate__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rate__card {
    padding: 48px 0px;
  }

  .rate__card-list {
    margin-top: 35px;
  }

  .rate__card-btn--1,
  .rate__card-btn--2,
  .rate__card-btn--3 {
    margin-top: 50px;
  }

  /* CALC */
  .calc__range-wrapper {
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
  }

  .calc__input-inner input {
    max-width: 300px;
  }

  .calc__type-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .calc__type-right {
    margin-top: 40px;
  }

  /* SERVICES */
  .services__slider {
    margin-top: 40px;
  }

  /* FEEDBACK */
  .feedback__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 25px;
  }

  .feedback__inner {
    width: 100%;
    gap: 20px;
    align-items: center;
  }

  .feedback__input {
    width: 50%;
  }

  .feedback__title {
    font-size: 30px;
    text-align: center;
  }

  .feedback__subtitle {
    text-align: center;
  }

  /* PROJECTS */
  .projects__slider-wrapper {
    margin-top: 20px;
  }

  .projects__slider-slide img {
    max-width: 180px;
  }

  .projects__slider-active img {
    max-width: 280px;
  }

  /* CALLS */
  .calls .container .title__wrapper {
    gap: 20px;
  }

  .calls__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* FOOTER */
  .footer {
    padding-top: 40px;
  }

  .footer__top {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .footer__title {
    text-align: center;
  }

  .footer__container {
    gap: 20px;
  }

  .footer__menu {
    flex-direction: column;
    gap: 20px;
  }

  .footer__bottom {
    gap: 20px;
  }

  .footer__contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer__contacts-wrapper {
    gap: 20px;
  }
}

@media (max-width: 720px) {
  /* ALL */
  .container {
    padding: 0px 10px;
  }

  /* PROJECTS */
  .projects__slider-wrapper {
    height: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .projects__slider-slide {
    align-items: center;
  }

  .projects__slider-slide p {
    text-align: center;
  }

  .projects__slider-slide img {
    max-width: 220px;
  }

  .projects__slider-active img {
    max-width: 320px;
  }

  /* FEEDBACK */
  .feedback__input {
    width: 70%;
  }
}

@media (max-width: 560px) {
  /* ALL */
  .team,
  .company,
  .why,
  .rate,
  .calc,
  .services,
  .feedback,
  .projects,
  .calls {
    padding-top: 20px;
  }

  .title {
    font-size: 30px;
  }

  /* MAIN */
  .main__title {
    font-size: 25px;
  }

  .main__subtitle {
    font-size: 18px;
  }

  .main__btn {
    max-width: 280px;
  }

  .main__btn span {
    font-size: 14px;
  }

  /* TEAM */
  .team__card-title {
    font-size: 30px;
  }

  /* COMAPNY */
  .stat {
    flex-direction: column;
  }

  .stat__number {
    font-size: 56px;
  }
  .stat__line {
    transform: rotate(0deg);
  }

  /* WHY */
  .why__card {
    height: auto;
  }

  /* RATE */
  .rate__card {
    width: 100%;
    padding: 28px 0px;
  }

  .rate__card-title--1,
  .rate__card-title--2,
  .rate__card-title--3 {
    font-size: 30px;
  }

  .rate__card-btn--1,
  .rate__card-btn--2,
  .rate__card-btn--3 {
    max-width: 250px;
  }

  .rate__card-list {
    margin-top: 20px;
  }

  .rate__card-list {
    gap: 10px;
  }

  /* CALC */
  .calc__input-inner {
    flex-direction: column;
  }

  .calc__range-wrapper {
    margin-top: 20px;
    gap: 20px;
  }

  .calc__type-card > img {
    max-width: 100%;
  }

  .calc__type-btn {
    width: 100%;
  }

  .calc__type-btn span {
    font-size: 14px;
  }

  .calc__type-badge {
    padding: 30px;
  }

  .calc__type-badge p:nth-child(1) {
    text-align: center;
  }

  .calc__type-badge p:nth-child(2) {
    font-size: 30px;
  }

  /* SERVICES */
  .services__slider {
    flex-direction: column-reverse;
  }

  .services__slider-nav {
    flex-direction: row;
    margin-left: 0px;
    margin-right: 0px;
  }

  .services__slider-slide img {
    max-width: 100%;
    height: 200px;
  }

  .services__slider-list {
    margin-left: 0px;
  }

  .services__slider-slide {
    width: 100%;
    max-width: 375px;
    min-width: 280px;
  }

  /* FEEDBACK */
  .feedback__title {
    font-size: 24px;
  }

  .feedback__subtitle {
    font-size: 16px;
  }

  .feedback__wrapper {
    padding: 20px;
  }

  .feedback__input {
    width: 100%;
  }
}

@media (max-width: 320px) {
  /* TEAM */
  .team__card img {
    max-width: 280px;
  }

  /* SERVICES */
  .services__slider-slide {
    width: 280px;
  }
}
